{% load l10n %}

<section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %} {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="custom-cover" src="{{ listing.photo_main.url }}" alt="" />
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white" >{{ listing.price | localize}} zł</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ listing.title }}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i>{{ listing.city }} - {{listing.state}}
                </p>
              </div>
              <hr />
              {% if listing.category != "Działka" %}
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> m²: {{ listing.sqft }}
                </div>
                <div class="col-6">
                  <i class="fas fa-sort-amount-up"></i> Piętro: {{ listing.garage }}
                </div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Liczba pokoi: {{ listing.bedrooms }}
                </div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Łazienki: {{ listing.bathrooms }}
                </div>
              </div>
              <hr/>
              {% else %}
              <div class="row py-2 text-secondary">
                <div class="col-8">
                    <i class="fas fa-square"></i> Powierzchnia: {{listing.lot_size}} a 
                </div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <br>
                </div>  
              </div>
              <hr>
              {% endif %}
              <a
                href="{% url 'listing' listing.id %}"
                class="btn btn-primary btn-block"
                >Więcej informacji</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="col-md-12">
          <p>Brak nieruchomości o wyszukiwanych parametrach</p>
        </div>
        {% endif %}
      </div>
    </div>
</section>