<section id="services" class="py-4 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x"></i>
          <hr />
          <h3>Komunikacja</h3>
          <p>
            <div class="row">
              <p class="col-sm">
            Szybkość odpowiedzi to dla nas priorytet. Zapraszamy do kontaktu telefonicznego, mailowego lub przez komunikator Facebook, który znajduje się w prawym dolnym rogu naszej strony lub  <a href="//m.me/mDomLegnica" target="_blank"  style="color: #FFFFFF;" ><b>kliknij tutaj</b></a>.
             </p>
            </div>
        </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x"></i>
          <hr />
          <h3>Przekaż nam swoją ofertę</h3>
          <p>
            <div class="row">
              <p class="col-sm">
            Chciałbyś aby Twoja oferta znalazła się na naszej stronie?
            Stworzyliśmy specjalny formularz, dzięki któremu możesz zgłosić do nas Twoją nieruchomość.
            </p>
            </div>
          </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x"></i>
          <hr />
          <h3>Wynajem i Sprzedaż</h3>
          <p>
            <div class="row">
              <p class="col-sm">
                <a href="/listings/search?category=mieszkanie&city=&transaction=wynajem" style="color: #FFFFFF;"><b>Mieszkania</b> wynajem</a>
                <br><a href="/listings/search?category=dom&city=&transaction=wynajem" style="color: #FFFFFF;"><b>Domy</b> wynajem</a>
                <br><a href="/listings/search?category=działka&city=&transaction=wynajem" style="color: #FFFFFF;"><b>Działki</b> wynajem</a>
                <br><a href="/listings/search?category=lokal&city=&transaction=wynajem" style="color: #FFFFFF;"><b>Lokale</b> wynajem</a>
              </p>
              <p class="col-sm">
                 <a href="/listings/search?category=mieszkanie&city=&transaction=sprzedaż" style="color: #FFFFFF;"><b>Mieszkania</b> sprzedaż</a>
                 <br><a href="/listings/search?category=dom&city=&transaction=sprzedaż" style="color: #FFFFFF;"><b>Domy</b> sprzedaż</a>
                 <br><a href="/listings/search?category=działka&city=&transaction=sprzedaż" style="color: #FFFFFF;"><b>Działki</b> sprzedaż</a>
                 <br><a href="/listings/search?category=lokal&city=&transaction=sprzedaż" style="color: #FFFFFF;"><b>Lokale</b> sprzedaż</a>
              </p>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section>