{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content%}

{% load l10n %}

<!-- Showcase -->
<section id="showcase" class="pb-0 mb-0">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5 backgrou">
        <h1 class="display-4 mb-4">
          Wyszukiwarka Nieruchomości
        </h1>
        <p class="lead">
         Pomóż nam znaleźć czego szukasz
        </p>
        <div class="search">
          {% include 'partials/_showcase-form.html' %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alert.html' %}

<h3 class="text-center">Najnowsze Nieruchomości</h3>
<!-- Listings -->
{% include 'partials/_listings.html' %}

<div class="row justify-content-center">
<a href="listings" class="btn btn-primary text-white btn-lg mt-0 mb-4"
    >Zobacz więcej nieruchomości</a
  >
</div>
<!-- Top Footer-->
{% include 'partials/_topfooter.html' %}

{% endblock %}
 