{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content%}

{% load l10n %}
<!--Like button-->
<div class="row justify-content-center pt-4 mt-2">
  <p>Bądź z nami na bieżąco, obserwuj nas na facebooku!</p>
</div>
<div id="like-btn" class="row justify-content-center ">
  <p><b>Legnica:</b> <img src="https://mdom.fra1.digitaloceanspaces.com/files/img/Legnica_herb.png" class="icon"> </p>
  <div class="fb-like" data-href="https://www.facebook.com/mDomLegnica" data-width="" data-layout="button" data-action="like" data-size="small" data-share="false"></div>
  <p><b>Opole:</b> <img src="https://mdom.fra1.digitaloceanspaces.com/files/img/Opole_herb.png" class="icon opole"></p>
  <div class="fb-like" data-href="https://www.facebook.com/mDomOpole" data-width="" data-layout="button" data-action="like" data-size="small" data-share="false"></div>
</div>

<!-- Showcase -->
<section id="showcase" class="pb-0 mb-0 pt-3">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5 backgrou">
        <h1 class="display-4 mb-4">
          Wyszukiwarka Nieruchomości
        </h1>
        <p class="lead">
         Pomóż nam znaleźć czego szukasz
        </p>
        <div class="search">
          {% include 'partials/_showcase-form.html' %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alert.html' %}

<h3 class="text-center">Najnowsze Nieruchomości</h3>
<!-- Listings -->
{% include 'partials/_listings.html' %}

<div class="row justify-content-center">
<a href="listings" class="btn btn-primary text-white btn-lg mt-0 mb-4"
    >Zobacz więcej nieruchomości</a
  >
</div>
<!-- Top Footer-->
{% include 'partials/_topfooter.html' %}

{% endblock %}
 