{% extends 'base.html' %} {% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Rodo</h1>
        <p class="lead">
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Strona Główna</a>
          </li>
          <li class="breadcrumb-item active">Rodo</li>
        </ol>
      </nav>
    </div>
  </section>

<section>
<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h2>Przetwarzanie Danych Osobowych</h2>
        <p class="mt-4">
         
            Zgodnie z Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (Dz.Urz. UE L 119, s. 1). – dalej RODO informujemy, iż
            administratorem Pani/Pana danych osobowych jest:
        <br>    
           <br> Administratorem Danych Osobowych w mDom Nieruchomości jest:
           <br> mDom Nieruchomości Iwona Mauer: 59-220 Legnica, Mirandy 3/2, tel.: 530 605 639;  e-mail: mdomkontakt@gmail.com
           <br> 
           <br>mDom Nieruchomości otrzymała od Państwa informacje stanowiące dane osobowe. Będzie z nich korzystała wyłącznie do celów związanych z realizacją czynności pośrednictwa podejmowanych na Państwa życzenie, będzie ich również używała w ramach wykonywania obowiązków wynikających z odrębnych przepisów, związanych z tymi czynnościami.
           <br> 
           <ul>
            <li>Państwa dane przetwarzane są w celu:</li>
            <li>realizacji czynności pośrednictwa,</li>
            <li>realizacji umowy oraz jej zabezpieczenia finansowego,</li>
            <li>promocji usług pośrednictwa,</li>
            <li>realizacji naszych prawnie uzasadnionyc interesów, tj. prowadzenia rachunkowości, archiwizacji danych na wypadek prawnej potrzeby wykazania zaistniałych zdarzeń, promocji usług pośrednictwa, marketing bezpośredni oraz szerzej rozumiane cele marketingowe mDom Nieruchomości, po wcześniejszym uzyskaniu Pani/Pana zgody,</li>
            <li>Państwa dane osobowe wynikające ze współpracy z mDom Nieruchomości będą przechowywane przez okres 10 lat od momentu zakończenia czynności pośrednictwa. Dane przetwarzane dla potrzeb marketingu bezpośredniego naszych usług będą przechowywane/ przetwarzane do czasu, aż zostanie zgłoszony sprzeciw względem ich przetwarzania.</li>
        </ul>
        <br>Pani/Pana dane przetwarzane na podstawie udzielonej zgody będą przetwarzane do czasu, aż zgoda nie zostanie cofnięta.
        <br> 
        <br>Państwa dane osobowe mogą zostać ujawnione współpracującym z naszą firmą partnerom: biuro rachunkowe, z którym Pośrednik związany jest umową o świadczenie usług księgowych. firmy informatyczne, hostingowe, dostawcy oprogramowania, podmioty bankowości, w których Państwo będziecie się kredytować, deweloperom, rzeczoznawcom majątkowym, geodetom, notariuszom, jak i innym biurom obrotu nieruchomościami współpracującym z naszym biurem. Wszystkie dane przekazywane są zgodnie z prawem, na podstawie stosownych umów powierzenia przetwarzania/przechowywania danych osobowych zapewniających bezpieczeństwo przetwarzania/ przechowywania.
        <br>    
        <br>Przysługują Pani/Panu następujące prawa związane z przetwarzaniem danych osobowych:
            jeśli przetwarzanie wymagało zgody - prawo wycofania zgody na przetwarzanie danych osobowych, bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem.
            Zgodę można wycofać poprzez wysłanie oświadczenia o wycofaniu zgody na nasz adres korespondencyjny: mDom Nieruchomości Iwona Mauer, 59-220 Legnica, Mirandy 3/2; 
            e-mailem: mdomkontakt@gmail.com
            <ul>
                <li>prawo do wniesienia sprzeciwu wobec przetwarzania Pani/Pana danych w celach marketingu bezpośredniego albo ze względu na szczególną sytuację – w przypadkach, kiedy przetwarzamy dane na podstawie naszego prawnie uzasadnionego interesu</li>
                <li>prawo dostępu do Pani/Pana danych osobowych, żądania sprostowania danych osobowych, żądania usunięcia danych osobowych, żądania ograniczenia przetwarzania danych osobowych, prawo do przenoszenia danych osobowych.</li>
            </ul>
        <br>Państwa dane osobowe nie będą przekazywane do państwa trzeciego/organizacji międzynarodowej.
        <br> 
        <br>Jeżeli będą Państwo mieli zastrzeżenia związane z działaniami naszego biura, które dotyczyć będą informacji będących Państwa danymi osobowymi, mogą Państwo zwrócić się ze skargą do Prezesa Urzędu Ochrony Danych Osobowych.
        <br> 
        <br>Podanie przez Panią/Pana danych osobowych jest warunkiem wykonania przez nas czynności pośrednictwa, a ich niepodanie będzie skutkowało brakiem możliwości kontynuacji współpracy. 
        <br>
        <br>
    </p>
      </div>
    </div>
</div>
</section> 

{% endblock %}