{% extends 'base.html' %} {% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Polityka prywatności i plików cookies</h1>
        <p class="lead">
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}"> <i class="fas fa-home"></i> Strona Główna</a>
          </li>
          <li class="breadcrumb-item active">Polityka prywatności i plików cookies</li>
        </ol>
      </nav>
    </div>
  </section>

<section>
<div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h2>Polityka prywatności i plików cookies</h2>
        <div class="col-sm-12 content">		
				<ol>
<li>Postanowienia ogólne</li>
<li>Cel i zakres zbierania danych</li>
<li>Podstawa przetwarzania danych</li>
<li>Prawo kontroli, dostępu do treści swoich danych oraz ich poprawiania</li>
<li>Pliki „Cookies”</li>
<li>Postanowienia końcowe</li>
</ol>
<p>I. POSTANOWIENIA OGÓLNE</p>
<ol>
<li>Administratorem Twoich danych osobowych jest mDom Nieruchomości Iwona Mauer, 59-220 Legnica, al. Marszałka Józefa Piłsudskiego; e-mail: mdomkontakt@gmail.com</li>
<li>Administrator danych dołoży wszelkich starań, aby w jak najpełniejszym stopniu zrealizować wymogi Rozporządzenia i w ten sposób chronić Twoje dane osobowe.</li>
<li>Możesz kontaktować się z Administratorem we wszystkich sprawach związanych z przetwarzaniem Twoich danych osobowych, a także w razie wątpliwości co do Twoich praw.</li>
<li>Administrator dokłada szczególnej staranności w celu ochrony interesów osób, których dane dotyczą, a w szczególności zapewnia, że zbierane przez niego dane są:</li>
</ol>
<ul>
<li>przetwarzane zgodnie z prawem,</li>
<li>zbierane dla oznaczonych, zgodnych z prawem celów i niepoddawane dalszemu przetwarzaniu niezgodnemu z tymi celami,</li>
<li>merytorycznie poprawne i adekwatne w stosunku do celów, w jakich są przetwarzane oraz przechowywane w postaci umożliwiającej identyfikację osób, których dotyczą, nie dłużej niż jest to niezbędne do osiągnięcia celu przetwarzania.</li>
</ul>
<p>II. CEL I ZAKRES ZBIERANIA DANYCH</p>
<ol>
<li>Dane osobowe Usługobiorców, zbierane przez Administratora, są wykorzystywane do:</li>
</ol>
<ul>
<li>kontaktowania się z klientem</li>
<li>ustalenia preferencji</li>
<li>celów informacyjnych oraz innych czynności związanych z aktywnością Usługobiorcy na stronie internetowej</li>
<li>celów marketingowych</li>
<li>ochrony przed ewentualnymi roszczeniami w związku z prowadzoną działalnością.</li>
</ul>
<ol start="2">
<li>Administrator przetwarza następujące dane osobowe, pozyskane bezpośrednio od Usługobiorców, podane w formularzu kontaktowym lub w zgłoszeniu reklamacyjnym:</li>
</ol>
<ul>
<li>Imię i nazwisko,</li>
<li>Adres,</li>
<li>Adres e-mail,</li>
<li>Numer telefonu,</li>
<li>PESEL</li>
<li>NIP,</li>
<li>Inne – dotyczące profilowania ofert sprzedaży, kupna, najmu nieruchomości oferowanych przez Administratora i osoby z nim współpracujące.</li>
</ul>
<ol start="3">
<li>Administrator może przetwarzać następujące dane charakteryzujące sposób korzystania przez Usługobiorcę z usług świadczonych drogą elektroniczną (dane eksploatacyjne):</li>
</ol>
<ul>
<li>Oznaczenia identyfikujące zakończenie sieci telekomunikacyjnej lub system teleinformatyczny, z którego korzystał Usługobiorca.</li>
<li>Informacje o rozpoczęciu, zakończeniu oraz zakresie każdorazowego korzystania przez Usługobiorcę z usługi świadczonej drogą elektroniczną.</li>
<li>Informacje o skorzystaniu przez Usługobiorcę z usług świadczonych drogą elektroniczną.</li>
</ul>
<ol start="4">
<li>Podanie danych osobowych, o których mowa w pkt 2 jest niezbędne do świadczenia przez Usługodawcę usług drogą elektroniczną w ramach strony internetowej.</li>
<li>Administrator gwarantuje, że będzie przetwarzać Twoje dane osobowe wyłącznie w konkretnych, wyraźnych i prawnie uzasadnionych celach i nie przetwarza ich dalej w sposób niezgodny z tymi celami. Cel przetwarzania danych to powód, dla którego przetwarzamy Twoje dane osobowe. Jeżeli Administrator będzie chciał przetwarzać Twoje dane osobowe dla innych celów niż wskazane wyżej – zostaniesz wtedy indywidualnie poinformowany o tym nowym celu.</li>
<li>Dane osobowe będą przechowywane przez okres niezbędny do:</li>
</ol>
<ul>
<li>czasu udzielenia odpowiedzi na pytanie przekazane w formularzu kontaktowym , a następnie przez lata w celu ochrony przed ewentualnymi roszczeniami.</li>
<li>czasu udzielania odpowiedzi na zgłoszenie reklamacyjne, a następnie przez okres 10 lat w celu ochrony przed ewentualnymi roszczeniami.</li>
</ul>
<p>W przypadku, gdy toczy się spór lub trwa postępowanie, w szczególności sądowe, okres przechowywania będzie liczony od dnia zakończenia sporu lub prawomocnego zakończenia postępowania.</p>
<ol start="7">
<li>Dostęp do Twoich danych osobowych – wewnątrz struktury organizacyjnej Administratora będą mieć wyłącznie upoważnieni przez Administratora pracownicy i upoważnione osoby współpracujące i tylko w niezbędnym zakresie.</li>
<li>W przypadku zgłoszenia reklamacyjnego, Twoje dane osobowe mogą być ujawniane przez Administratora odbiorcom poza strukturą. Zawsze w takiej sytuacji Administrator dokładnie bada podstawę prawną ujawnienia danych osobowych. Należy zwrócić uwagę, że odbiorcą danych w rozumieniu Rozporządzenia jest zarówno podmiot, który przetwarza dane osobowe w imieniu Administratora, jak i podmiot, któremu dane są udostępniane dla jego własnych celów (np. organy administracji publicznej).</li>
<li>Odbiorcami Twoich danych osobowych mogą być:</li>
</ol>
<ul>
<li>organy publiczne, instytucje lub podmioty trzecie uprawnione do zażądania dostępu lub otrzymania danych osobowych na podstawie przepisów prawa, np. Komisja Nadzoru Finansowego, Ministerstwo Finansów, Generalny Inspektor Informacji Finansowej, Rzecznika Finansowego, Arbiter bankowy,</li>
<li>podmioty współpracujące z Administratorem w ramach jego sieci Franczyzowej, w oparciu o odrębne upoważnienie Administratora,</li>
<li>podmioty, którym Administrator powierzył przetwarzanie danych osobowych na podstawie zawartych umów, np. dostawcy IT i innych usług przetwarzający dane w imieniu Administratora,</li>
<li>banki lub inne instytucje, które mogą̨ otrzymać́ dane osobowe w związku z realizacją czynności bankowych oraz na podstawie przepisów prawa, np. BIK, biura informacji gospodarczej (KRD, ERIF, BIG),</li>
<li>podmioty świadczące usługi doradczo–kontrolne np. firmy audytorskie,</li>
<li>podmioty przetwarzające dane w celu wydawania opinii prawnych lub prowadzenia zastępstwa procesowego np. kancelarie prawne,</li>
<li>obowiązków kontraktowych oraz wynikających z przepisów prawa.</li>
</ul>
<p>III. PODSTAWA PRZETWARZANIA DANYCH</p>
<ol>
<li>Zgromadzone dane osobowe przetwarzane są na podstawie art. 6 ust. 1a i 1f Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679. Przez wskazany w przytoczonym przepisie prawny interes administratora rozumie się prowadzenie działalności w zakresie finansowego, pośrednictwa w obrocie nieruchomościami i związane z nim działania promocyjne i marketingowe.</li>
<li>Zakres przekazywanych informacji odpowiada wymogom wynikającym z unijnych przepisów o ochronie danych osobowych tj. Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679, zwanego także ogólnym rozporządzeniem o ochronie danych.</li>
</ol>
<p>IV. PRAWO KONTROLI, DOSTĘPU DO TREŚCI SWOICH DANYCH ORAZ ICH POPRAWIANIA</p>
<ol>
<li>Usługobiorca ma prawo dostępu do treści swoich danych osobowych oraz ich poprawiania.</li>
<li>Każdej osobie przysługuje prawo do kontroli przetwarzania danych, które jej dotyczą, zawartych w zbiorze danych Administratora, a zwłaszcza prawo do żądania uzupełnienia, uaktualnienia, sprostowania danych osobowych, czasowego lub stałego wstrzymania ich przetwarzania lub ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe lub zostały zebrane z naruszeniem ustawy albo są już zbędne do realizacji celu, dla którego zostały zebrane.</li>
<li>W celu realizacji uprawnień, o których mowa w pkt. 1 i 2 można korzystać poprzez przesłanie stosownej wiadomości e-mail na adres:&nbsp;<a href="mailto:mdomkontakt@gmail.com">mdomkontakt@gmail.com</a></li>
<li>Podanie danych osobowych jest dobrowolne, ale konieczne do realizacji celu udzielenia odpowiedzi na pytania przekazane w formularzu kontaktowym lub na zgłoszenie reklamacyjne.</li>
<li>W przypadku uznania, iż przetwarzanie przez Administratora Twoich danych osobowych narusza przepisy Rozporządzenia, przysługuje Ci prawo do wniesienia skargi do organu nadzorczego.</li>
<li>Szczegółowa informacja o przysługujących Ci prawach:</li>
</ol>
<ul>
<li>przysługuje Ci prawo dostępu do Twoich danych osobowych, w tym uzyskania kopii danych;</li>
<li>jeśli uznasz, że Twoje dane osobowe przetwarzane przez ADO są niezgodne z rzeczywistością, masz prawo ich sprostowania lub uzupełnienia,</li>
<li>masz prawo zażądania usunięcia Twoich danych osobowych w przypadkach przewidzianych prawem,</li>
<li>masz prawo wniesienia zażądania ograniczenia przetwarzania Twoich danych osobowych,</li>
<li>masz prawo wniesienia sprzeciwu wobec przetwarzania Twoich danych osobowych w przypadku przetwarzania ich w celu realizacji uzasadnionego interesu ADO,</li>
<li>masz również prawo do otrzymania Twoich danych osobowych w ustrukturyzowanym formacie oraz przenoszenia danych osobowych do innego administratora. W przypadku przeniesienia danych, z uwagi na inne przepisy prawa np. bankowego, może być wymagane uzyskanie zgody Twojej lub innej osoby lub spełnienie innych warunków wymaganych tymi przepisami,</li>
</ul>
<p>V. PLIKI „COOKIES”</p>
<ol>
<li>Strona internetowa Usługodawcy&nbsp;używa plików&nbsp;„cookies”. Brak zmiany po stronie Usługobiorcy ustawień przeglądarki jest równoznaczny z wyrażeniem zgody na ich użycie.</li>
<li>Instalacja plików „cookies” jest konieczna do prawidłowego świadczenia usług na stronie internetowej. W plikach „cookies” znajdują się informacje niezbędne do prawidłowego funkcjonowania strony internetowej, w szczególności tych wymagających autoryzacji.</li>
<li>W ramach strony internetowej stosowane są rodzaje:</li>
</ol>
<ul>
<li>sesyjne</li>
<li>stałe</li>
<li>analityczne</li>
</ul>
<ol start="4">
<li>„Cookies” „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Usługobiorcy do czasu wylogowania (opuszczenia strony internetowej).</li>
<li>„Stałe” pliki „cookies” przechowywane są w urządzeniu końcowym Usługobiorcy przez czas określony w parametrach plików „cookies” lub do czasu ich usunięcia przez Użytkownika.</li>
<li>„Cookies” „analityczne” umożliwiają lepsze poznanie sposobu interakcji Usługobiorcy w zakresie zawartości strony internetowej, lepiej zorganizować jego układ. “Analityczne” „cookies” gromadzą informacje o sposobie korzystania ze strony internetowej przez Usługobiorców, typie strony, z jakiej Usługobiorca został przekierowany, oraz liczbie odwiedzin i czasie wizyty Usługobiorcy na stronie. Informacje te nie rejestrują konkretnych danych osobowych Usługobiorcy, lecz służą do opracowania statystyk korzystania ze strony internetowej.</li>
<li>Użytkownik ma prawo zadecydowania w zakresie dostępu plików „cookies” do swojego komputera poprzez ich uprzedni wybór w oknie swojej przeglądarki. Szczegółowe informacje o możliwości i sposobach obsługi plików „cookies” dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).</li>
</ol>
<p>VI. POSTANIOWIENIA KOŃCOWE</p>
<ol>
<li>Administrator stosuje środki techniczne i organizacyjne zapewniające ochronę przetwarzanych danych osobowych odpowiednią do zagrożeń oraz kategorii danych objętych ochroną, a w szczególności zabezpiecza dane przed ich udostępnieniem osobom nieupoważnionym, zabraniem przez osobę nieuprawnioną, przetwarzaniem z naruszeniem obowiązujących przepisów oraz zmianą, utratą, uszkodzeniem lub zniszczeniem.</li>
<li>Usługodawca udostępnia odpowiednie środki techniczne zapobiegające pozyskiwaniu i modyfikowaniu przez osoby nieuprawnione, danych osobowych przesyłanych drogą elektroniczną.</li>
</ol>

			



			<!-- Edit post link -->

			

		</div>
    </div>
</div>
</section> 

{% endblock %}