.btn-secondary {
  color: #fff !important;
}

img {
  width: 100%;
}

.logo {
  width: 80px;
}

.navbar {
  opacity: 0.95;
  text-transform: uppercase;
}

.social a {
  margin-right: 0.4rem;
}

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}
#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}
#showcase .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: #34002eea !important;
}

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: #481a43 !important;
}

#showcase-min {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  background: #34002eea !important;
}

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}
#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: #481a43 !important;
}
#showcase-inner.showcase-search {
  min-height: 270px;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  font-size: 14px;
  background: #34002eea;
  color: #f5f6fa;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  z-index: 100;
  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  border: 0;
  color: #f5f6fa;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 6px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  #showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }
  #showcase-inner h1 {
    font-size: 40px;
  }
}
